@import "sm/mixin";
@import "sm/keyframes";
@import "sm/function";
@import "sh/mixin";
@import "sh/keyframes";
@import "sh/function";
@import "guest/user/index";
@import "guest/about/index";
@import "application_layout/default";
@import "application_layout/header";
@import "application_layout/footer";
@import "member/top/top";
@import "member/timeline/timeline";
@import "member/schedule/schedule";
@import "member/search/search";
@import "member/bell/bell";
@import "member/renraku/renraku";

.richer {
    width: 100%;
    height: 100%;
    overflow-y: scroll; // スクロールでhederとfooterの下をすり抜け
    &__container {
        min-height: 100vh;
        background-image: url(img/apl_main_bg.jpg);
        background-size: cover;
        // &__space {
        //     padding: 45px;
        //     width: 1%;
        // }
    }
}
