@import "sm/mixin";
@import "sm/keyframes";
@import "sm/function";
@import "sh/mixin";
@import "sh/keyframes";
@import "sh/function";
@import "common/notPage";
@import "common/months";
@import "common/about/about";
@import "common/profile_delete_pre";
@import "guest/user/index";
@import "guest/about/index";
@import "application_layout/default";
@import "application_layout/header";
@import "application_layout/footer";
@import "member/top/top";
@import "member/user/index";
@import "member/timeline/timeline";
@import "member/schedule/schedule";
@import "member/search/search";
@import "member/bell/bell";
@import "member/renraku/renraku";

.loading {
    background-image: gradientColor(45deg, #0bd, #d841d88d);
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    &::before {
        content: "Richer";
        opacity: 0;
        animation: loading 2s linear forwards;
    }
}
.richer {
    width: 100%;
    height: 100%;
    &__container {
        min-height: 100vh;
        background-color: rgb(30 47 103 / 78%);
        background-size: cover;
        &__space {
            padding: 45px;
            width: 1%;
        }
    }
}
