.my_page {
    width: 100%;

    &__userName {
        margin: 2% auto;
    }
    $userMyLinkLists: relationship-link, edit-link, show-link;
    @each $user in $userMyLinkLists {
        &__#{$user} {
            color: rgba(9, 77, 134, 0.517);
            text-decoration: underline;
            font-weight: bold;
            font-size: 150%;
            margin: 0% 5%;
        }
    }
    &__logout {
        width: 85px;
        margin: 5% auto;
        & button {
            padding: 6%;
            background-color: #ffff;
        }
    }
}
.user-edit,
.user-show {
    width: 100%;
    &__title {
        @include userPageTitle;
    }
    &__form-list,
    &__list {
        width: 90%;
        margin: 4% auto;
        text-align: center;
        background-color: teal;
        border: 2px goldenrod solid;
        padding: 3%;
    }
    &__menu {
        color: palegoldenrod;
        font-size: 175%;
        @include textShadowColor(rgb(181, 87, 87));
        $showProfile: name, email;
        @each $profile in $showProfile {
            &__#{$profile} {
                margin: 3% 0%;
                font-size: 130%;
            }
        }
    }
    &__input {
        width: 60%;
        padding: 2%;
        margin: 3%;
        font-size: 130%;
        text-align: center;
        outline: none;
    }
    &__button {
        background-color: rgba(108, 42, 169, 0.837);
        color: #ffff;
        width: 150px;
        margin: 3% 0%;
        padding: 3%;
        cursor: pointer;
    }
    &__warning-text {
        color: rgb(189 55 55);
        @include textShadowColor(rgb(181, 148, 87));
    }
}
