.my_page {
    width: 80%;
    margin: 8% auto;
    background-color: rgba(117, 117, 117, 0.7294117647);
    padding: 3%;
    border: 2px solid goldenrod;
    &__userIcon {
        width: 70%;
    }

    &__userName {
        color: #ffff;
        margin: 2% auto;
        overflow-wrap: break-word;
    }
    $userMyLinkLists: relationship-link, edit-link, show-link;
    @each $user in $userMyLinkLists {
        &__#{$user} {
            color: goldenrod;
            text-decoration: underline;
            font-weight: bold;
            font-size: 150%;
            margin: 0% 5%;
        }
    }
}
.user-edit,
.user-show {
    width: 100%;
    &__title {
        @include userPageTitle;
    }
    &__icon {
        width: 70%;
    }
    &__form-list,
    &__list {
        width: 90%;
        margin: 4% auto;
        text-align: center;
        background-color: #757575ba;
        border: 2px goldenrod solid;
        padding: 3%;
    }
    &__menu {
        color: palegoldenrod;
        font-size: 175%;
        @include textShadowColor(rgb(181, 87, 87));
        $showProfile: name, email, id;
        @each $profile in $showProfile {
            &__#{$profile} {
                margin: 3% 0%;
                font-size: 130%;
                color: #ffff;
                overflow-wrap: break-word;
            }
        }
    }
    &__select-icon-list {
        width: 80%;
        margin: 5%;
        padding: 5px 0;
        text-align: center;
        background-color: goldenrod;
        border-radius: 5px;
        color: #ffff;
        cursor: pointer;
        outline: none;
        -webkit-outline: none;
        -webkit-border-radius: 5px;
    }
    &__input {
        width: 60%;
        padding: 2%;
        margin: 3%;
        font-size: 130%;
        text-align: center;
        outline: none;
    }
    &__button {
        background-color: rgba(108, 42, 169, 0.837);
        color: #ffff;
        width: 150px;
        margin: 3% 0%;
        padding: 3%;
        cursor: pointer;
    }
    &__hr {
        width: 70%;
        margin: 3% auto;
    }
    &__warning-text {
        color: rgb(181 8 8);
        @include textShadowColor(rgb(181, 148, 87));
    }
    $logoutOrDelete: logout, delete;
    @each $user in $logoutOrDelete {
        &__#{$user} {
            width: 85px;
            margin: 5% auto;
            & button {
                padding: 6%;
                animation: none;
                background-color: #ffff;
            }
        }
    }
}
