@charset "UTF-8";
@-webkit-keyframes loading {
  from {
    opacity: 0;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
    transform: scale(1.5);
  }
}
@keyframes loading {
  from {
    opacity: 0;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 0 #fff, 0 0 0 #fff;
    transform: scale(1.5);
  }
}
@-webkit-keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@-webkit-keyframes backgroundColorChange {
  from {
    background-color: rgb(141, 97, 221);
  }
  50% {
    background-color: rgb(88, 119, 221);
  }
  to {
    background-color: rgb(141, 97, 221);
  }
}
@keyframes backgroundColorChange {
  from {
    background-color: rgb(141, 97, 221);
  }
  50% {
    background-color: rgb(88, 119, 221);
  }
  to {
    background-color: rgb(141, 97, 221);
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flash {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes februaryAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-250px, 250px);
  }
}
@keyframes februaryAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-250px, 250px);
  }
}
.notPage {
  width: 80%;
  margin: 0 auto;
}
.notPage__warning-text {
  margin: 20% 0;
}
.notPage__top-text-link {
  padding: 10% 15%;
  background-color: #0bd;
  color: white;
  border: 3px goldenrod solid;
  cursor: pointer;
}

.january-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.february-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.february-animation__bg {
  height: 100%;
  background-size: contain;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.february-animation__bg.show {
  opacity: 1;
  z-index: 2;
}
.february-animation__onikitiImg {
  position: absolute;
  width: 45%;
  top: 44%;
  left: 27%;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.february-animation__onikitiImg.show {
  opacity: 1;
}
.february-animation__text {
  position: absolute;
  width: 50%;
  left: 27%;
  top: 35%;
}
.february-animation__text.show {
  z-index: 2;
  top: 35%;
  left: 17%;
  width: 70%;
}
.february-animation__mamemakiImg {
  position: absolute;
  width: 50%;
  right: 2%;
  opacity: 0;
}
.february-animation__mamemakiImg.show {
  opacity: 1;
  -webkit-animation: februaryAnim 3s linear infinite alternate;
          animation: februaryAnim 3s linear infinite alternate;
}
.february-animation__loveImg {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.february-animation__loveImg.show {
  opacity: 0.8;
}

.march-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.april-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.may-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.june-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.july-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.august-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.september-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.october-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.november-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.december-animation {
  width: 90%;
  height: 300px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0px 0px 15px;
  background-size: cover;
  border: #000 solid 1px;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.delete {
  background-color: rgb(4, 4, 102);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
}
.delete::before {
  content: "アカウント削除中";
  font-size: medium;
  transition: all 500ms ease-in-out;
  -webkit-animation: flash 500ms linear infinite;
          animation: flash 500ms linear infinite;
}

.auth-select {
  width: 90%;
  text-align: center;
  margin: 10% auto;
}
.auth-select__text {
  width: 40%;
  margin: 10% auto;
  padding: 1.5% 0;
  color: brown;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}
.auth-select__terms-of-service {
  width: 100%;
  margin: 5% auto;
  text-align: center;
  background-color: rgba(117, 117, 117, 0.7294117647);
}
.auth-select__terms-of-service__text {
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
  letter-spacing: 2px;
  background-color: rgb(230, 153, 9);
}
.auth-select__terms-of-service__text::marker {
  color: white;
  overflow-wrap: break-word;
}
.auth-select__terms-of-service__text__main {
  width: 95%;
  margin: 0% auto;
  text-align: left;
  background-color: white;
  overflow-wrap: break-word;
}
.auth-select__terms-of-service__text__main__detail {
  padding: 5%;
}

.about-page-link {
  color: #71532c;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

.guest-top {
  justify-content: center;
  background-color: rgba(117, 117, 117, 0.7294117647);
  display: flex;
  width: 100%;
  margin-top: 5%;
  border: white 2px solid;
}
.guest-top__login {
  width: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10%;
  border-right: white 2px solid;
}
.guest-top__register {
  width: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10%;
}

.register {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}

.login {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}

.auth-link {
  color: blueviolet;
  text-decoration: underline;
  transition: all 1000ms ease-in-out;
  -webkit-animation: flash 2s linear infinite;
          animation: flash 2s linear infinite;
}

.form-list {
  width: 90%;
  margin: 4% auto;
  text-align: center;
  background-color: rgba(117, 117, 117, 0.7294117647);
  border: 2px goldenrod solid;
  padding: 3%;
}
.form-list__menu {
  color: palegoldenrod;
  text-shadow: rgb(181, 87, 87) 1px 0px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 0px -1px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px, rgb(181, 87, 87) 1px -1px 1px, rgb(181, 87, 87) -1px -1px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px;
}
.form-list__password_confirmation {
  text-align: center;
}
.form-list dd {
  width: 60%;
  padding: 2%;
  margin: 0 auto;
}
.form-list input {
  padding: 2.5%;
  margin: 3%;
  outline: none;
  text-align: center;
  font-size: 120%;
}
.form-list__button {
  background-color: rgb(169, 42, 125);
  color: white;
  width: 50%;
}
.form-list__button__position {
  padding-left: 1.5%;
}

* {
  width: 100%;
  margin: 0;
  width: 100%;
  font-family: serif;
  font-weight: bold;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  color: #000;
  -o-object-fit: contain;
     object-fit: contain;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input[type=submit],
button {
  -webkit-appearance: none;
  transition: all 1000ms ease-in-out;
  -webkit-animation: backgroundColorChange 2s linear infinite;
          animation: backgroundColorChange 2s linear infinite;
}

.richer__header {
  width: 100%;
  height: 80px;
  display: grid;
  position: fixed;
  top: 0;
  justify-items: unset;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  z-index: 1;
  background-image: linear-gradient(45deg, #0bd, rgba(216, 65, 216, 0.5529411765));
}
.richer__header__navList {
  display: flex;
  align-items: center;
}
.richer__header__navList__title {
  padding: 15px;
  width: 75%;
  font-size: 200%;
  -webkit-animation-name: logoAnime;
          animation-name: logoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__header__navList__user {
  width: 25%;
  height: 100%;
  border-left: 3px goldenrod solid;
}
.richer__header__navList__user__icon {
  position: absolute;
  transform: scale(2.8);
  top: 74.15%;
  right: 10%;
  bottom: 0%;
  color: aliceblue;
  width: 14px;
  height: 6px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}
.richer__header__navList__user__icon::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 115%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px;
  background-color: currentColor;
}

.richer__footer {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(180deg, rgba(9, 47, 255, 0.66), rgba(117, 0, 130, 0.6784313725));
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 9px;
}
.richer__footer__navList {
  display: flex;
  align-items: center;
}
.richer__footer__navList__timeline {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
}
.richer__footer__navList__timeline:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__schedule {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__schedule:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__search {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__search:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__bell {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__bell:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__renraku {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__renraku:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList a {
  color: white;
}

.greetingText {
  width: 10ch;
  -webkit-animation: typing 2s steps(22), step-end infinite alternate;
          animation: typing 2s steps(22), step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
  letter-spacing: 4px;
  color: bisque;
  text-shadow: saddlebrown 1px 0px 1px, saddlebrown -1px 0px 1px, saddlebrown 0px -1px 1px, saddlebrown -1px 0px 1px, saddlebrown 1px 1px 1px, saddlebrown -1px 1px 1px, saddlebrown 1px -1px 1px, saddlebrown -1px -1px 1px, saddlebrown 1px 1px 1px, saddlebrown -1px 1px 1px;
}

.my_page {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(117, 117, 117, 0.7294117647);
  padding: 3%;
}
.my_page__userIcon {
  width: 70%;
}
.my_page__userName {
  color: white;
  margin: 2% auto;
}
.my_page__relationship-link {
  color: goldenrod;
  text-decoration: underline;
  font-weight: bold;
  font-size: 150%;
  margin: 0% 5%;
}
.my_page__edit-link {
  color: goldenrod;
  text-decoration: underline;
  font-weight: bold;
  font-size: 150%;
  margin: 0% 5%;
}
.my_page__show-link {
  color: goldenrod;
  text-decoration: underline;
  font-weight: bold;
  font-size: 150%;
  margin: 0% 5%;
}

.user-edit,
.user-show {
  width: 100%;
}
.user-edit__title,
.user-show__title {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}
.user-edit__icon,
.user-show__icon {
  width: 70%;
}
.user-edit__form-list, .user-edit__list,
.user-show__form-list,
.user-show__list {
  width: 90%;
  margin: 4% auto;
  text-align: center;
  background-color: rgba(117, 117, 117, 0.7294117647);
  border: 2px goldenrod solid;
  padding: 3%;
}
.user-edit__menu,
.user-show__menu {
  color: palegoldenrod;
  font-size: 175%;
  text-shadow: rgb(181, 87, 87) 1px 0px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 0px -1px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px, rgb(181, 87, 87) 1px -1px 1px, rgb(181, 87, 87) -1px -1px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px;
}
.user-edit__menu__name,
.user-show__menu__name {
  margin: 3% 0%;
  font-size: 130%;
  color: white;
}
.user-edit__menu__email,
.user-show__menu__email {
  margin: 3% 0%;
  font-size: 130%;
  color: white;
}
.user-edit__menu__id,
.user-show__menu__id {
  margin: 3% 0%;
  font-size: 130%;
  color: white;
}
.user-edit__select-icon-list,
.user-show__select-icon-list {
  width: 80%;
  margin: 5%;
  padding: 5px 0;
  text-align: center;
  background-color: goldenrod;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  -webkit-outline: none;
  -webkit-border-radius: 5px;
}
.user-edit__input,
.user-show__input {
  width: 60%;
  padding: 2%;
  margin: 3%;
  font-size: 130%;
  text-align: center;
  outline: none;
}
.user-edit__button,
.user-show__button {
  background-color: rgba(108, 42, 169, 0.837);
  color: white;
  width: 150px;
  margin: 3% 0%;
  padding: 3%;
  cursor: pointer;
}
.user-edit__hr,
.user-show__hr {
  width: 70%;
  margin: 3% auto;
}
.user-edit__warning-text,
.user-show__warning-text {
  color: rgb(181, 8, 8);
  text-shadow: rgb(181, 148, 87) 1px 0px 1px, rgb(181, 148, 87) -1px 0px 1px, rgb(181, 148, 87) 0px -1px 1px, rgb(181, 148, 87) -1px 0px 1px, rgb(181, 148, 87) 1px 1px 1px, rgb(181, 148, 87) -1px 1px 1px, rgb(181, 148, 87) 1px -1px 1px, rgb(181, 148, 87) -1px -1px 1px, rgb(181, 148, 87) 1px 1px 1px, rgb(181, 148, 87) -1px 1px 1px;
}
.user-edit__logout,
.user-show__logout {
  width: 85px;
  margin: 5% auto;
}
.user-edit__logout button,
.user-show__logout button {
  padding: 6%;
  -webkit-animation: none;
          animation: none;
  background-color: white;
}
.user-edit__delete,
.user-show__delete {
  width: 85px;
  margin: 5% auto;
}
.user-edit__delete button,
.user-show__delete button {
  padding: 6%;
  -webkit-animation: none;
          animation: none;
  background-color: white;
}

.search {
  margin: 10% auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 3%;
}
.search__text {
  margin-bottom: 4%;
  color: rgba(0, 0, 0, 0.5294117647);
  font-weight: bold;
}
.search__word {
  width: 80%;
  text-align: center;
  padding: 5%;
  outline: none;
  width: 80%;
  padding: 5%;
  outline: none;
  border: solid;
}
.search__word__input {
  width: 30%;
  margin: 10% auto 16%;
  padding: 1%;
  transition: 1000ms all ease-in-out;
  box-shadow: 0px 0px 5px;
}
.search input {
  -webkit-animation: none;
          animation: none;
}
.search hr {
  width: 80%;
  padding: 1px;
  margin: 0 auto 1%;
  background-color: rgba(128, 128, 128, 0.7607843137);
}
.search__explanation-text {
  margin: 1% auto 2%;
  width: 80%;
  text-decoration: underline;
}

.loading {
  background-image: linear-gradient(45deg, #0bd, rgba(216, 65, 216, 0.5529411765));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
}
.loading::before {
  content: "Richer";
  opacity: 0;
  -webkit-animation: loading 2s linear forwards;
          animation: loading 2s linear forwards;
}

.richer {
  width: 100%;
  height: 100%;
}
.richer__container {
  min-height: 100vh;
  background-image: url(/images/apl_main_bg.jpg);
  background-size: cover;
}
.richer__container__space {
  padding: 45px;
  width: 1%;
}
