@-webkit-keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@keyframes logoAnime {
  from {
    color: rgba(216, 112, 147, 0.95);
  }
  to {
    color: #ffffff;
    text-shadow: 4px 0px 0px rebeccapurple;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@keyframes diagonal-move-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-250px, 250px);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.auth-select {
  width: 80%;
  text-align: center;
  margin: 10% auto;
}

.guest-top {
  justify-content: center;
  background: teal;
  display: flex;
  width: 100%;
  border: white 2px solid;
}
.guest-top__login {
  width: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10%;
  border-right: white 2px solid;
}
.guest-top__register {
  width: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10%;
}

.register {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}

.login {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}

.auth-link {
  color: blueviolet;
  text-decoration: underline;
  transition: all 1000ms ease-in-out;
  -webkit-animation: flash 2s linear infinite;
          animation: flash 2s linear infinite;
}

.form-list {
  width: 90%;
  margin: 4% auto;
  text-align: center;
  background-color: teal;
  border: 2px goldenrod solid;
  padding: 3%;
}
.form-list__menu {
  color: palegoldenrod;
  text-shadow: rgb(181, 87, 87) 1px 0px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 0px -1px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px, rgb(181, 87, 87) 1px -1px 1px, rgb(181, 87, 87) -1px -1px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px;
}
.form-list__password_confirmation {
  text-align: center;
}
.form-list dd {
  width: 60%;
  padding: 2%;
  margin: 0 auto;
}
.form-list input {
  padding: 2.5%;
  margin: 3%;
  outline: none;
  text-align: center;
  font-size: 120%;
}
.form-list__button {
  background-color: rgb(169, 42, 125);
  color: white;
  width: 50%;
}
.form-list__button__position {
  padding-left: 1.5%;
}

* {
  width: 100%;
  margin: 0;
  width: 100%;
  font-family: serif;
  font-weight: bold;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  color: #000;
  -o-object-fit: contain;
     object-fit: contain;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input[type=submit],
button {
  -webkit-appearance: none;
  background-color: rgb(141, 97, 221);
}

.richer__header {
  width: 100%;
  height: 80px;
  display: grid;
  position: fixed;
  top: 0;
  justify-items: unset;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  z-index: 1;
  background-image: linear-gradient(45deg, #72e4cb, rgba(216, 65, 216, 0.5529411765));
}
.richer__header__navList {
  display: flex;
  align-items: center;
}
.richer__header__navList__title {
  padding: 15px;
  width: 75%;
  font-size: 200%;
  -webkit-animation-name: logoAnime;
          animation-name: logoAnime;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 0ms ease;
}
.richer__header__navList__user {
  width: 25%;
  height: 100%;
  border-left: 3px goldenrod solid;
}
.richer__header__navList__user__icon {
  position: absolute;
  transform: scale(2.8);
  top: 74.15%;
  right: 10%;
  bottom: 0%;
  color: aliceblue;
  width: 14px;
  height: 6px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}
.richer__header__navList__user__icon::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 115%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px;
  background-color: currentColor;
}

.richer__footer {
  width: 100%;
  height: 80px;
  background-color: rgba(9, 47, 255, 0.66);
  position: fixed;
  bottom: 0;
  display: grid;
  align-items: center;
  outline: 3px solid goldenrod;
  outline-offset: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 9px;
}
.richer__footer__navList {
  display: flex;
  align-items: center;
}
.richer__footer__navList__timeline {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
}
.richer__footer__navList__timeline:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__schedule {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__schedule:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__search {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__search:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__bell {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__bell:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList__renraku {
  width: 20%;
  padding: 25px 0%;
  font-weight: bold;
  transition: all 0ms ease;
  border-left: 3px goldenrod solid;
}
.richer__footer__navList__renraku:active {
  background-color: rgb(255, 255, 255);
}
.richer__footer__navList a {
  color: white;
}

.greetingText {
  width: 9ch;
  -webkit-animation: typing 2s steps(22), step-end infinite alternate;
          animation: typing 2s steps(22), step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
  color: bisque;
  text-shadow: saddlebrown 1px 0px 1px, saddlebrown -1px 0px 1px, saddlebrown 0px -1px 1px, saddlebrown -1px 0px 1px, saddlebrown 1px 1px 1px, saddlebrown -1px 1px 1px, saddlebrown 1px -1px 1px, saddlebrown -1px -1px 1px, saddlebrown 1px 1px 1px, saddlebrown -1px 1px 1px;
}

.my_page {
  width: 100%;
}
.my_page__userName {
  margin: 2% auto;
}
.my_page__relationship-link {
  color: rgba(9, 77, 134, 0.517);
  text-decoration: underline;
}
.my_page__edit-link {
  color: rgba(9, 77, 134, 0.517);
  text-decoration: underline;
}
.my_page__show-link {
  color: rgba(9, 77, 134, 0.517);
  text-decoration: underline;
}
.my_page__logout {
  width: 85px;
  margin: 5% auto;
}
.my_page__logout button {
  padding: 6%;
  background-color: white;
}

.user-edit,
.user-show {
  width: 100%;
}
.user-edit__title,
.user-show__title {
  width: 40%;
  margin: 3% auto;
  color: brown;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: goldenrod 1px 0px 1px, goldenrod -1px 0px 1px, goldenrod 0px -1px 1px, goldenrod -1px 0px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px, goldenrod 1px -1px 1px, goldenrod -1px -1px 1px, goldenrod 1px 1px 1px, goldenrod -1px 1px 1px;
}
.user-edit__form-list,
.user-show__form-list {
  width: 90%;
  margin: 4% auto;
  text-align: center;
  background-color: teal;
  border: 2px goldenrod solid;
  padding: 3%;
}
.user-edit__menu,
.user-show__menu {
  color: palegoldenrod;
  font-size: 175%;
  text-shadow: rgb(181, 87, 87) 1px 0px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 0px -1px 1px, rgb(181, 87, 87) -1px 0px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px, rgb(181, 87, 87) 1px -1px 1px, rgb(181, 87, 87) -1px -1px 1px, rgb(181, 87, 87) 1px 1px 1px, rgb(181, 87, 87) -1px 1px 1px;
}
.user-edit__menu__name,
.user-show__menu__name {
  margin: 3% 0%;
  font-size: 130%;
}
.user-edit__menu__email,
.user-show__menu__email {
  margin: 3% 0%;
  font-size: 130%;
}
.user-edit__input,
.user-show__input {
  width: 60%;
  padding: 2%;
  margin: 3%;
  font-size: 130%;
  text-align: center;
  outline: none;
}
.user-edit__button,
.user-show__button {
  background-color: rgba(108, 42, 169, 0.837);
  color: white;
  width: 150px;
  margin: 3% 0%;
  padding: 3%;
  cursor: pointer;
}

.search {
  margin: 10% auto;
}
.search__text {
  margin-bottom: 4%;
  color: rgba(0, 0, 0, 0.5294117647);
  font-weight: bold;
}
.search__word {
  width: 80%;
  text-align: center;
  padding: 5%;
  outline: none;
  width: 80%;
  padding: 5%;
  outline: none;
  border: solid;
}
.search__word__input {
  width: 30%;
  margin: 10% auto 16%;
  padding: 1%;
  transition: 1000ms all ease-in-out;
  box-shadow: 0px 0px 5px;
}

.richer {
  width: 100%;
  height: 100%;
}
.richer__container {
  min-height: 100vh;
  background-image: url(/images/apl_main_bg.jpg?f0583fb9dd4addbd0565a269873db607);
  background-size: cover;
}
.richer__container__space {
  padding: 45px;
  width: 1%;
}
