.greetingText {
    width: 10ch;
    animation: typing 2s steps(22), step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
    letter-spacing: 4px;
    color: bisque;
    @include textShadowColor(saddlebrown);
}
