//ゲストのTOP
.auth-select {
    width: 80%;
    text-align: center;
    margin: 10% auto;
}
.guest-top {
    justify-content: center;
    background: teal;
    display: flex;
    width: 100%;
    border: #ffff 2px solid;

    $authSelectLists: login, register;
    @each $auth in $authSelectLists {
        &__#{$auth} {
            width: 50%;
            color: #ffff;
            font-weight: bold;
            text-align: center;
            padding: 10%;
            @if ($auth == login) {
                border-right: #ffff 2px solid;
            }
        }
    }
}
//新規登録ページとログインページ
$authTitleLists: register, login;
@each $auth in $authTitleLists {
    .#{$auth} {
        @include userPageTitle;
    }
}
.auth-link {
    color: blueviolet;
    text-decoration: underline;
    transition: all 1000ms ease-in-out;
    animation: flash 2s linear infinite;
}
.form-list {
    width: 90%;
    margin: 4% auto;
    text-align: center;
    background-color: teal;
    border: 2px goldenrod solid;
    padding: 3%;
    &__menu {
        color: palegoldenrod;
        @include textShadowColor(rgb(181, 87, 87));
    }
    &__password_confirmation {
        text-align: center;
    }
    & dd {
        width: 60%;
        padding: 2%;
        margin: 0 auto;
    }
    & input {
        padding: 2.5%;
        margin: 3%;
        outline: none;
        text-align: center;
        font-size: 120%;
    }
    &__button {
        background-color: rgb(169 42 125);
        color: #ffff;
        width: 50%;
        &__position {
            padding-left: 1.5%;
        }
    }
}
