//fukui専用
@keyframes fall {
    to {
        top: 120%;
    }
}
@keyframes sway1 {
    from {
        transform: translateX(0px) rotate(0deg);
    }
    to {
        transform: translateX(200px) rotate(-45deg);
    }
}
@keyframes sway2 {
    from {
        transform: translateX(200px) rotate(-45deg);
    }
    to {
        transform: translateX(0px) rotate(0deg);
    }
}
