//fukui専用
$sakuraColor: #ffdbed;
@mixin aprilSakuraPosition($left, $width, $height) {
    left: $left;
    width: $width;
    height: $height;
}
@mixin aprilSakuraMoving($time1, $swayType, $time2, $time3) {
    animation: fall $time1 Linear infinite,
        $swayType $time2 ease-in-out infinite alternate;
    animation-delay: $time3;
}
@mixin aprilSakuraEffect {
    position: absolute;
    list-style: none;
    top: -20%;
    background: $sakuraColor;
    border-radius: 0% 70%;
    animation: fall 4s liner infinite, sway 2s ease-in-out infinite alternate;
    &:nth-child(1) {
        @include aprilSakuraPosition(0%, 24px, 15px);
        @include aprilSakuraMoving(10s, sway1, 3s, 2s);
    }
    &:nth-child(2) {
        @include aprilSakuraPosition(5%, 13px, 9px);
        @include aprilSakuraMoving(15s, sway1, 2s, 8s);
    }
    &:nth-child(3) {
        @include aprilSakuraPosition(15%, 16px, 10px);
        @include aprilSakuraMoving(9s, sway1, 3.5s, 13s);
    }
    &:nth-child(4) {
        @include aprilSakuraPosition(30%, 16px, 10px);
        @include aprilSakuraMoving(8s, sway2, 4s, 7s);
    }
    &:nth-child(5) {
        @include aprilSakuraPosition(40%, 16px, 10px);
        @include aprilSakuraMoving(10s, sway1, 4s, 0s);
    }
    &:nth-child(6) {
        @include aprilSakuraPosition(55%, 24px, 15px);
        @include aprilSakuraMoving(11s, sway2, 3s, 3s);
    }
    &:nth-child(7) {
        @include aprilSakuraPosition(65%, 16px, 10px);
        @include aprilSakuraMoving(7s, sway2, 3.5s, 7s);
    }
    &:nth-child(8) {
        @include aprilSakuraPosition(50%, 13px, 9px);
        @include aprilSakuraMoving(7s, sway1, 3s, 3s);
    }
    &:nth-child(9) {
        @include aprilSakuraPosition(80%, 16px, 10px);
        @include aprilSakuraMoving(10s, sway2, 4s, 4s);
    }
}
