@keyframes logoAnime {
    from {
        color: rgba(216, 112, 147, 0.95);
    }
    to {
        color: #ffffff;
        text-shadow: 4px 0px 0px rebeccapurple;
    }
}
@keyframes logoAnime {
    from {
        color: rgba(216, 112, 147, 0.95);
    }
    to {
        color: #ffffff;
        text-shadow: 4px 0px 0px rebeccapurple;
    }
}
@keyframes logoAnime {
    from {
        color: rgba(216, 112, 147, 0.95);
    }
    to {
        color: #ffffff;
        text-shadow: 4px 0px 0px rebeccapurple;
    }
}
@keyframes backgroundColorChange {
    from {
        background-color: rgb(141 97 221);
    }
    50% {
        background-color: rgb(88, 119, 221);
    }
    to {
        background-color: rgb(141 97 221);
    }
}
@keyframes logoAnime {
    from {
        color: rgba(216, 112, 147, 0.95);
    }
    to {
        color: #ffffff;
        text-shadow: 4px 0px 0px rebeccapurple;
    }
}
@keyframes logoAnime {
    from {
        color: rgba(216, 112, 147, 0.95);
    }
    to {
        color: #ffffff;
        text-shadow: 4px 0px 0px rebeccapurple;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes diagonal-move-anim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-250px, 250px);
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
