@mixin footerNavList($judgement) {
    width: widthRegulation(100%);
    padding: 25px 0%;
    font-weight: bold;
    transition: all 0ms ease;
    @if ($judgement == "true") {
        border-left: 3px goldenrod solid;
    }
    &:active {
        background-color: rgb(255, 255, 255);
    }
}
@mixin textShadowColor($textShadowColor) {
    text-shadow: $textShadowColor 1px 0px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 0px -1px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px,
        $textShadowColor 1px -1px 1px, $textShadowColor -1px -1px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px;
}
@mixin boxShadowColor($boxShadowColor) {
    box-shadow: 0px 0px $boxShadowColor;
}
