@mixin footerNavList($judgement) {
    width: widthRegulation(100%, "pattern1");
    padding: 25px 0%;
    font-weight: bold;
    transition: all 0ms ease;
    @if ($judgement == "true") {
        border-left: 3px goldenrod solid;
    }
    &:active {
        background-color: rgb(255, 255, 255);
    }
}
@mixin textShadowColor($textShadowColor) {
    text-shadow: $textShadowColor 1px 0px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 0px -1px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px,
        $textShadowColor 1px -1px 1px, $textShadowColor -1px -1px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px;
}
@mixin userPageTitle {
    width: 40%;
    margin: 3% auto;
    color: brown;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    @include textShadowColor(goldenrod);
}
