@mixin gradientColor($direction, $colorFirst, $colorSecond) {
    background-image: linear-gradient($direction, $colorFirst, $colorSecond);
}
@mixin footerNavList($judgement) {
    width: 20%;
    padding: 25px 0%;
    font-weight: bold;
    transition: all 0ms ease;
    @if ($judgement == "true") {
        border-left: 3px goldenrod solid;
    }
    &:active {
        background-color: #ffff;
    }
}
@mixin textShadowColor($textShadowColor) {
    text-shadow: $textShadowColor 1px 0px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 0px -1px 1px, $textShadowColor -1px 0px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px,
        $textShadowColor 1px -1px 1px, $textShadowColor -1px -1px 1px,
        $textShadowColor 1px 1px 1px, $textShadowColor -1px 1px 1px;
}
@mixin boxShadowColor($boxShadowColor) {
    box-shadow: 0px 0px $boxShadowColor;
}
