* {
    width: 100%;
    margin: 0;
    width: 100%;
    font-family: serif;
    font-weight: bold;
}
body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #000;
    object-fit: contain;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
input[type="submit"],
button {
    -webkit-appearance: none;
    background-color: rgb(141 97 221);
}
