.search {
    margin: 10% auto;
    width: 80%;
    background-color: rgb(255 255 255 / 25%);
    padding: 3%;
    &__text {
        margin: 7% 0%;
        color: #00000087;
        font-weight: bold;
    }
    &__word {
        width: 80%;
        text-align: center;
        padding: 5%;
        outline: none;
        width: 80%;
        padding: 5%;
        outline: none;
        border: solid;
        &__input {
            width: 30%;
            margin: 10% auto 16%;
            padding: 1%;
            transition: 1000ms all ease-in-out;
            box-shadow: boxShadowColor(5px, "pattern3");
        }
    }
    & input {
        animation: none;
    }
    & hr {
        width: 80%;
        padding: 1px;
        margin: 0 auto 13%;
        background-color: #808080c2;
    }
    &__explanation-text {
        margin: 5% auto;
        width: 80%;
        text-decoration: underline;
    }
}
