$monthsRepertoire: january, february, march, april, may, june, july, august,
    september, october, november, december;
@each $month in $monthsRepertoire {
    .#{$month}-animation {
        width: 90%;
        @media (max-width: 450px) and (min-width: 0px) {
            height: 300px;
        }
        @media (max-width: 2000px) and (min-width: 450px) {
            height: 1000px;
        }
        margin: 5% auto;
        background-color: white;
        box-shadow: boxShadowColor(15px, "pattern3");
        background-size: cover;
        border: #000 solid 1px;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;
        @if ($month == january) {
            &__text {
                position: absolute;
                top: 15%;
                transition: 1000ms all ease-in-out;
            }
            &__hagoita1 {
                position: absolute;
                top: 50%;
                left: 0;
                width: 40%;
                transition: 1000ms all ease-in-out;
                &.show {
                    display: none;
                }
            }
            &__hagoita2 {
                position: absolute;
                transform: scale(-1, 1);
                top: 50%;
                left: 60%;
                width: 40%;
                transition: 1000ms all ease-in-out;
                &.show {
                    display: none;
                }
            }
            &__hane {
                position: absolute;
                transform: rotate(280deg);
                top: 49%;
                left: 71%;
                width: 10%;
                transition: 1000ms all ease-in-out;
                animation: januaryHanetsukiAnim 3s linear infinite;
                &.show {
                    display: none;
                }
            }
            &__oinori {
                display: none;
                transition: 1000ms all ease-in-out;
                &.show {
                    display: block;
                    position: absolute;
                    top: 10%;
                    transform: scale(0.8);
                }
            }
        }
        @if ($month == february) {
            &__bg {
                height: 100%;
                background-size: contain;
                opacity: 0;
                transition: all 1000ms ease-in-out;
                &.show {
                    opacity: 1;
                    z-index: 2;
                }
            }
            &__onikitiImg {
                position: absolute;
                width: 45%;
                top: 44%;
                left: 27%;
                opacity: 0;
                transition: all 1000ms ease-in-out;
                &.show {
                    opacity: 1;
                }
            }
            &__text {
                position: absolute;
                width: 50%;
                left: 27%;
                top: 35%;
                &.show {
                    z-index: 2;
                    top: 35%;
                    left: 17%;
                    width: 70%;
                }
            }
            &__mamemakiImg {
                position: absolute;
                width: 50%;
                right: 2%;
                opacity: 0;
                &.show {
                    opacity: 1;
                    animation: februaryAnim 3s linear infinite alternate;
                }
            }
            &__loveImg {
                position: absolute;
                left: 0;
                opacity: 0;
                transition: all 1000ms ease-in-out;
                &.show {
                    opacity: 0.8;
                }
            }
        }
        @if ($month == march) {
            &__text {
                position: absolute;
                opacity: 0;
                top: 10%;
                transition: 1000ms all ease-in-out;
                &.show {
                    opacity: 1;
                }
            }
            &__march_bg {
                position: absolute;
                height: 100%;
                top: 0%;
                left: 0;
                transition: 1000 all ease-in-out;
                &.show {
                    opacity: 0.3;
                }
            }
            &__hinamatsuri {
                position: absolute;
                opacity: 0;
                top: 2%;
                left: 100%;
                transition: 1000ms all ease-in-out;
                &.show {
                    left: 0;
                    opacity: 1;
                }
            }
            &__sotugyousyousyo {
                position: absolute;
                opacity: 0;
                bottom: -5%;
                right: 100%;
                transition: 1000ms all ease-in-out;
                &.show {
                    right: 0%;
                    opacity: 1;
                }
            }
            &__whiteday {
                position: absolute;
                opacity: 0;
                top: 5%;
                left: 100%;
                transition: 1000ms all ease-in-out;
                &.show {
                    left: 0%;
                    opacity: 1;
                }
            }
        }
        //fukui s
        @if ($month == april) {
            &__text {
                position: absolute;
                opacity: 0;
                top: 10%;
                transition: 1000ms all ease-in-out;
                &.show {
                    opacity: 1;
                }
            }
            &__sakura {
                position: absolute;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &.show {
                    display: none;
                }
                & li {
                    @include aprilSakuraEffect;
                }
            }
        }
        //fukui e
    }
}
